
#map {
    height: 500px;
    width: 100%;

}
.card{
    min-width: 100px;
    text-align: center;
     
}
.titre{
    text-align: center;
    color: #115788;
    background-color: #90caf1;
}
.img{
    width: 100px;
    height: auto;
    display: block;
    border-radius: 8px;
    margin: 10px auto;
   
}
.leaflet-popup-content-wrapper{
    background-color: rgb(163, 223, 245);
}
