
#map {
    height: 500px;
    width: 100%;

}
.card{
    min-width: 100px;
    text-align: center;
    
    
}
.img{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 8px;
    margin: 8px;
   
}
.leaflet-popup-content-wrapper{
    background-color: rgb(163, 223, 245);
}
